/*====================================================
RESET 
====================================================*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*====================================================
CUSTOM Properties
====================================================*/
::selection {
    background-color: var(--color-orangered);
    color: var(--color-white);
}

::-webkit-scrollbar {
    width: 2.5rem;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.5);
    background-color: var(--color-orangered);
}

:root {
    font-size: 62.5%;

    --color-deepskyblue: deepskyblue;
    --color-white: #fff;
    --color-red: red;
    --color-orangered: rgb(211, 89, 45);
    --color-light-orange: #e67e22;
    --color-dodgerblue: dodgerblue;
    --color-grey: #505050;
}

.p-8 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

/*====================================================
BODY STYLING
====================================================*/
body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
}

/*====================================================
NAVBAR STYLING
====================================================*/
header#header {
    position: relative;
}

nav#navbar {
    height: 11.2rem;
    position: absolute;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
}

/* Fixed class to make navbar fixed */
nav#navbar.fixed {
    position: fixed;
    background-color: var(--color-deepskyblue);
    box-shadow: 0rem 0rem 1.7rem 0rem;
    transition: all 0.5s ease-in-out;
}

nav#navbar a.navbar-brand img {
    width: 100%;
    height: 4rem;
    object-fit: cover;
}

nav#navbar button.navbar-toggler {
    border: 0.1rem solid var(--color-white);
    color: var(--color-orangered);
    transition: all 0.5s ease-in;
    position: relative;
    z-index: 20000;
    font-size: 2rem;
}

nav#navbar button.navbar-toggler:hover {
    background-color: var(--color-light-orange);
    color: var(--color-white);
}

nav#navbar ul li a {
    padding-right: 3rem;
    font-weight: 700;
    color: var(--color-white);
    transition: all 0.5s ease-in;
}

nav#navbar ul li a:hover,
nav#navbar ul li a:focus {
    color: var(--color-red);
}

/*====================================================
COMMON STYLING FOR SECTIONS 
====================================================*/
section#work div.work-col,
section#features div.features-col,
section#why div.why-col,
section#testimonials div.testimonial-col,
section#team div.team-col,
section#download div.download-col,
section#contact div.contact-col {
    position: relative;
}

section#work div.work-col::before,
section#features div.features-col::before,
section#why div.why-col::before,
section#testimonials div.testimonial-col::before,
section#team div.team-col::before,
section#download div.download-col::before,
section#contact div.contact-col::before {
    content: "";
    position: absolute;
    bottom: -2rem;
    left: 33%;
    margin-left: -12%;
    width: 57%;
    height: 0.1rem;
    background: #e1e1e1;
}

section#work div.work-col::after,
section#features div.features-col::after,
section#why div.why-col::after,
section#testimonials div.testimonial-col::after,
section#team div.team-col::after,
section#download div.download-col::after,
section#contact div.contact-col::after {
    position: absolute;
    content: "";
    bottom: -2rem;
    left: 50%;
    margin-left: -3%;
    width: 6%;
    height: 0.2rem;
    background: var(--color-deepskyblue);
    z-index: 1;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

section#work div.work-col:hover::after,
section#features div.features-col:hover::after,
section#why div.why-col:hover::after,
section#testimonials div.testimonial-col:hover::after,
section#team div.team-col:hover::after,
section#download div.download-col:hover::after,
section#contact div.contact-col:hover::after {
    width: 57%;
    margin-left: -29%;
}

section#work div.work-col h2,
section#features div.features-col h2,
section#why div.why-col h2,
section#testimonials div.testimonial-col h2,
section#team div.team-col h2,
section#download div.download-col h2,
section#contact div.contact-col h2 {
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

section#work div.work-col p,
section#features div.features-col p,
section#why div.why-col p,
section#testimonials div.testimonial-col p,
section#team div.team-col p,
section#download div.download-col p,
section#contact div.contact-col p {
    font-weight: 300;
    color: #818181;
    letter-spacing: 0.025rem;
    line-height: 2.4rem;
}

section#work div.card-row,
section#features div.feature-row,
section#why div.why-row,
section#testimonials div.testimonial-row,
section#team div.team-row,
section#download div.download-row,
section#contact div.contact-row {
    margin-top: 13rem;
}

/*====================================================
SHOWCASE STYLING
====================================================*/
section#showcase div.slide {
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

section#showcase div.slide-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/slider1.jpg');
}

section#showcase div.slide-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('../images/slider-2.jpg');
}

section#showcase div.slide-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('../images/slider-3.jpg');
}

section#showcase div.slider-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: var(--color-white);
}

div.content {
    flex-basis: 60rem;
    text-align: center;
}

div.content h1,
div.content h2 {
    font-size: 3.5rem;
    font-weight: 800;
}

div.content h1 span,
div.content h2 span {
    color: var(--color-orangered);
}

div.content p.tag-line {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    margin-top: 2rem;
    font-weight: 600;
}

div.content p.tag-line i {
    color: var(--color-red);
    font-size: 2rem;
}

div.content div.social-icons i {
    font-size: 3.5rem;
    margin-right: 1rem;
    color: var(--color-white);
    margin-bottom: 2rem;
}

div.content p.slide-description {
    font-size: 1.4rem;
    font-weight: 100;
    margin-bottom: 3rem;
}

div.content a.btn-1,
div.content a.btn-2 {
    color: var(--color-white);
    transition: 0.5s ease-in;
    padding: 1rem 5rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}

div.content a.btn-1 {
    background-color: var(--color-deepskyblue);
}

div.content a.btn-1:hover {
    background-color: var(--color-dodgerblue);
}

div.content a.btn-2 {
    background-color: var(--color-orangered);
}

div.content a.btn-2:hover {
    background-color: var(--color-light-orange);
}

/*====================================================
WORK SECTION CSS
====================================================*/


section#work div.card {
    background: #f7f7f7;
    padding: 6rem 2.5rem;
    position: relative;
    margin-bottom: 5rem;
}

section#work div.card-body {
    padding: 0;
}

section#work div.card-body p.work-icon {
    position: absolute;
    top: -10%;
    left: calc(50% - 3.5rem);
}

section#work div.card-body p.work-icon i, section#why div.why-reasons i {
    width: 6.3rem;
    height: 6.3rem;
    font-size: 3rem;
    color: var(--color-white);
    line-height: 2;
    background: var(--color-deepskyblue);
    border-radius: 50%;
    box-shadow: 0rem 0rem 0rem 1rem #CCEEF9;
}

section#work div.card-body h3 {
    font-size: 1.8rem;
    color: var(--color-deepskyblue);
    font-weight: 900;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

section#work div.card-body p.work-para {
    color: var(--color-grey);
    font-weight: 300;
}

section#work div.card:hover,
section#work div.card:active {
    background: var(--color-deepskyblue);
}

section#work div.card:hover {
    transition: .6s ease;
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    -o-transition: .6s ease;
    -ms-transition: .6s ease;

}

section#work div.card:hover i.fas,
section#work div.card:active i.fas {
    background: var(--color-white);
    color: var(--color-deepskyblue);
    box-shadow: 0rem 0rem 0rem 1rem var(--color-deepskyblue);

}

section#work div.card:hover h3,
section#work div.card:hover p.work-para {
    color: #f6f6f6;
}

/*====================================================
Features section css 
====================================================*/
section#features {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../images/slider1.jpg') center fixed no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: var(--color-white);
    padding: 2rem;
}

section#features div.features-col p, section#testimonials div.testimonial-col p {
    color: var(--color-white);
}

section#features div.feature-col div.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section#features div.feature-col div.features div.feature {
    flex-basis: 30rem;
    text-align: center;
    margin-bottom: 3rem;
    padding: 1rem;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

section#features div.feature-col div.features div.feature::before {
    content: "";
    position: absolute;
    background-color: var(--color-deepskyblue);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top bottom;
    transition: all 0.5s ease-in-out;
}

section#features div.feature-col div.features div.feature:hover::before {
    transform: scaleY(1);
}

section#features div.feature-col div.features div.feature i.fas {
    border: 0.2rem solid var(--color-white);
    padding: 1.5rem;
    border-radius: 50%;
    font-size: 3rem;
    margin-bottom: 3rem;
    background-color: var(--color-deepskyblue);
    color: var(--color-white);
    width: 6.4rem;
    height: 6.4rem;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
}


section#features div.feature-col div.features div.feature h3 {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
}

section#features div.feature-col div.features div.feature p {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2;
}

/*====================================================
WHY SECTION CSS 
====================================================*/

section#why div.why-reasons i {
    text-align: center;
    background-color: var(--color-white);
    color: var(--color-deepskyblue);
    box-shadow: 0rem 0rem 0rem 0.5rem var(--color-deepskyblue);
    margin-right: 2.5rem;
}

section#why div.why-reasons h3 {
    color: var(--color-deepskyblue);
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
}

section#why div.why-reasons p {
    color: #616161;
    font-weight: 200;
}

section#why div.why-reasons div.reason:hover p.reason-icon i {
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(359deg);
    }
}

section#why div.why-reasons div.reason {
    margin-bottom: 4rem;
}

section#why div.why-reasons div.reason-content {
    display: flex;
    flex-wrap: wrap;
}

section#why div.why-reasons div.reason p.reason-content-para {
    width: 70%;
}

/*====================================================
TESTIMONIALS SECTION CSS
====================================================*/ 
section#testimonials {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/slider1.jpg') no-repeat center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: var(--color-white);
}

section#testimonials div.testimonial img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border:0.2rem solid var(--color-deepskyblue);
    padding: 0.5rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

section#testimonials div.testimonial h3 {
    color: var(--color-deepskyblue);
    font-size: 3rem;
    font-weight: 700;
}

section#testimonials div.testimonial h4 {
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
}

ul.slick-dots li button {
    background-color: var(--color-deepskyblue) !important;
    border-radius: 50%;
}

/*====================================================
TEAM SECTION CSS 
====================================================*/
section#team div.team-row {
    padding-left: 6rem;
    padding-right: 6rem;
}

section#team div.team-member-col {
    margin-bottom: 6rem;
}

section#team div.card {
    background-color: #f7f7f7;
    padding: 2rem;
}

section#team div.card-body {
    text-align: center;
    padding: 0;
}

section#team div.card-body img {
      position: absolute;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      border: 1rem solid var(--color-deepskyblue);
      top: -5rem;
      left: calc(50% - 5rem);
}

section#team div.card-body h3 {
    margin-top: 6rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-deepskyblue);
}

section#team div.card-body h4 {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    color: var(--color-grey);
    margin-bottom: 3rem;
}

section#team div.card-body p.team-member-message {
    color: rgb(105, 102, 102);
    line-height: 2;
    margin-bottom: 4rem;
}

section#team div.card-body div.social {
    display: flex;
    justify-content: center;
}

section#team div.card-body div.social a {
    margin-right: 2rem;
}

section#team div.card-body div.social a i {
 height: 4rem;
 width: 4rem;
 background: var(--color-white);
 text-align: center;
 color: var(--color-deepskyblue);
 border-radius: 50%;
 border: 0.3rem solid #c4e5f0;
 padding-top: 1rem;
}

section#team div.card:hover {
    background: var(--color-deepskyblue);
    transition: all 0.5s ease-in-out;
}

section#team div.card:hover img {
    border: 1rem solid var(--color-white);
}

section#team div.card:hover h3 {
    color: var(--color-white);
}

section#team div.card:hover p {
    color: #f9f9f9;
    transition: 0.5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    -ms-transition: .5s ease;
}

section#team div.card:hover div.social i {
    border-color: var(--color-white);
    background: var(--color-deepskyblue);
    color: var(--color-white);
    transition: .6s ease;
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    -o-transition: .6s ease;
    -ms-transition: .6s ease;
}

/*====================================================
Download section css 
====================================================*/
section#download {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/clouds-2517653_1920.jpg') center no-repeat fixed;
    background-size: cover;
    width: 100vw;
    height: 100%;
    color: var(--color-white);
}

section#download div.download-col p {
    color: var(--color-white);
}

section#download div.download-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section#download div.download-buttons a {
    font-size: 2rem;
    padding: 0.8rem 4rem;
    margin-right: 1.2rem;
    transition: all 0.5s ease-in-out;
    text-align: center;
    margin-bottom: 1rem;
}

section#download div.download-buttons a i {
    margin-right: 1rem;
}

/*====================================================
CONTACT SECTION CSS
====================================================*/
section#contact div.col-lg-10 {
    margin-bottom: 2rem;
}

section#contact div.col-lg-10  h4 {
    color: #3a3a3a;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 0.4rem;
    letter-spacing: 0.025em;
}

section#contact div.contact-info div.row {
    width: 95%;
    margin: 0 auto;
}

section#contact i {
    color: var(--color-deepskyblue);
    font-size: 2rem;
}

section#contact form input, section#contact form textarea {
    font-size: 1.4rem;
    padding: 1rem;
    border: 0.1rem solid #a5d3eb;
    outline: none;
    box-shadow: none;
}

section#contact form input:active,
section#contact form textarea:active,
section#contact form input:focus,
section#contact form textarea:focus {
    border: 0.1rem solid var(--color-light-orange);
    transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

section#contact form textarea {
     font-family: 'Roboto', sans-serif;
     padding: 1rem 1.2rem;
     color: #bdbdbd;
     font-weight: 400;
}

section#contact form button {
    padding: 1rem;
    background-color: var(--color-deepskyblue);
    font-size: 1.6rem;
    color: var(--color-white);
}

section#contact form button:hover {
    background-color: var(--color-light-orange);
}

iframe {
    width: 100%;
}

/*====================================================
Footer CSS 
====================================================*/
footer#footer {
    background-color: #34495e;
}

footer#footer div.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

div.footer-links a {
    margin: 0 1.6rem 2rem 1.6rem;
    display: inline-block;
}

div.footer-links i.fab {
    font-size: 3rem;
    color: var(--color-deepskyblue);
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: var(--color-white);
    line-height: 2;
    border-radius: 50%;
    transition: .3s;
    border: 1rem solid #b1c9d1;
    text-align: center;
}


div.footer-links a:hover i.fab {
    border: 1rem solid var(--color-white);
}

p.footer-copyright {
  margin-top: 3rem;
}

p.footer-copyright a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: 900;
}

/*====================================================
MEDIA QUERIES
====================================================*/
@media (max-width: 500px) {

    div.content h2,
    div.content h1 {
        font-size: 2rem;
    }

    div.content p.slide-description {
        padding: 4rem;
    }

    div.slide-btns a.btn {
        padding: 1rem 2rem;
    }

    section#work div.card-body p.work-icon {
        position: static;
    }

    section#work div.work-col h2,
    section#why div.why-col h2,
    section#testimonials div.testimonial-col h2,
    section#team div.team-col h2,
    section#download div.download-col h2,
    section#contact div.contact-col h2 {
        font-size: 2.5rem;
    }

    section#work div.work-col p,
    section#why div.why-col p,
    section#testimonials div.testimonial-col p,
    section#team div.team-col p,
    section#download div.download-col p,
    section#contact div.contact-col p {
        padding: 1rem 4rem 1rem 4rem;
        font-size: 1.4rem;
    }

}

@media (min-width:501px) and (max-width:685px) {

    div.content h2,
    div.content h1 {
        font-size: 2.5rem;
    }

    div.content p.slide-description {
        padding: 3rem;
    }

    div.slide-btns a.btn {
        padding: 1rem 3rem;
    }

    section#work div.work-col h2,
    section#why div.why-col h2,
    section#testimonials div.testimonial-col h2,
    section#team div.team-col h2,
    section#download div.download-col h2, 
    section#contact div.contact-col h2 {
        font-size: 2.5rem;
    }

    section#work div.work-col p,
    section#why div.why-col p,
    section#testimonials div.testimonial-col p,
    section#team div.team-col p,
    section#download div.download-col p, section#contact div.contact-col p {
        padding: 1rem 2rem 1rem 2rem;
        font-size: 1.6rem;
    }
}

@media (max-width:767px) {
    body {
        overflow-x: hidden;
    }

    nav#navbar div.collapse.show,
    nav#navbar div.navbar-collapse {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100vh;
        background-color: #0aabe1e7;
        transition: none;
    }

    nav#navbar div.navbar-collapse {
        transition: all 0.1s ease-in-out;
    }

    nav#navbar ul {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    nav#navbar ul li {
        margin-bottom: 2rem;

    }

    nav#navbar ul li a {
        font-size: 2rem;

    }

    nav#navbar ul li a:hover {
        color: #CCEEF9;
    }

}

@media (max-width: 991px) {

    section#why div.why-reasons div.reason {
        background-color: var(--color-deepskyblue);
        padding: 1rem;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    
    
    section#why div.why-reasons div.reason-content {
        flex: none;
        display: block;
        text-align: center;
        
    }
    
    section#why div.why-reasons div.reason-content h3 {
        color: var(--color-white);
    }

    section#why div.why-reasons div.reason-content p.reason-icon {
        margin-bottom: 3rem;
    }

    section#why div.why-reasons div.reason-content p.reason-content-para {
        margin: 0 auto;
        color: var(--color-white);
    }
}